@page
@model ManoTourism.Areas.Admin.Pages.Reports.SellerReportModel

@{
    ViewBag.Title = @sharedResource["Seller Report"];
    ViewBag.pTitle = @sharedResource["Seller Report"];
    ViewBag.pageTitle = @sharedResource["Seller Report"];
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/assets/css/slim.css">


@{
    var Toggle = new[] { "OnDay", "Period" };
}
<style>
    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
</style>
<div class="row" style="margin-right: 0px !important; margin-left: 0px !important;">
    <div class="col-lg-12">
        <div class="slim-mainpanel p-4">
            <div class="container">
                <div class="slim-pageheader">
                    <ol class="breadcrumb slim-breadcrumb">
                    </ol>

                </div><!-- slim-pageheader -->



                <div class="row row-sm row-timeline">
                    <div class="col-lg-3 p-3 mg-lg-t-0">
                        <div class="card pd-20 mg-t-40">
                            <label class="slim-card-title">@sharedResource["Filter"]</label>
                            <div class="post-group">

                                @using (Html.BeginForm(FormMethod.Post))


                                    @(Html.DevExtreme().Form<ManoTourism.ViewModels.FilterModel>
                                        ()
                                        .FormData(Model.filterModel)
                                        .LabelMode(FormLabelMode.Outside)
                                        .LabelLocation(FormLabelLocation.Top)
                                        .Items(items =>
                                        {
                                            @*  items.AddSimpleFor(m => m.radioBtn).Label(l => l.Text(sharedResource["Select"])).IsRequired(false).Editor(e => e.RadioGroup().Items(Toggle).RtlEnabled(true)

                                .Layout(Orientation.Horizontal));
                                items.AddSimpleFor(m => m.OnDay).IsRequired(false).Label(l => l.Text(sharedResource["OnDay"]));*@
                                            items.AddSimpleFor(m => m.FromDate).IsRequired(false).Label(l => l.Text(sharedResource["From"]));
                                            items.AddSimpleFor(m => m.ToDate).IsRequired(false).Label(l => l.Text(sharedResource["To"]));
                                            items.AddSimpleFor(m => m.SharedEmpId).IsRequired(false).Label(l => l.Text(sharedResource["Select Employee"]))
                                            .Editor(e => e
                                            .Lookup()
                                            .DataSource(ds => ds.WebApi().Controller("Lists").LoadAction("EmployeeLookup").Key("Value"))
                                            .ValueExpr("Value").RtlEnabled(true)
                                            .DisplayExpr("Text").Placeholder(sharedResource["Select Employee"])
                                            .ShowClearButton(true)
                                            .ClearButtonText(sharedResource["Cleared"])
                                            .CancelButtonText(sharedResource["Cancel"])
                                            .SearchPlaceholder(sharedResource["Searching"])
                                            );
                                            items.AddSimpleFor(m => m.UserId).IsRequired(false).Label(l => l.Text(sharedResource["Select Seller"]))

                                            .Editor(e => e
                                            .Lookup()
                                            .DataSource(ds => ds.WebApi().Controller("Lists").LoadAction("SellerLookup").Key("Value"))
                                            .ValueExpr("Value").RtlEnabled(true)
                                            .DisplayExpr("Text").Placeholder(sharedResource["Select Seller"])
                                            .ShowClearButton(true)
                                            .ClearButtonText(sharedResource["Cleared"])
                                            .CancelButtonText(sharedResource["Cancel"])
                                            .SearchPlaceholder(sharedResource["Searching"])
                                            );
                                           
                                            items.AddSimpleFor(m => m.StatusId).IsRequired(false).Label(l => l.Text(sharedResource["Select Request Status"]))
                                            .Editor(e => e
                                            .Lookup()
                                            .DataSource(ds => ds.WebApi().Controller("Lists").LoadAction("StatusLookup").Key("Value"))
                                            .ValueExpr("Value").RtlEnabled(true)
                                            .DisplayExpr("Text").Placeholder(sharedResource["Select Request Status"])
                                            .ShowClearButton(true)
                                            .ClearButtonText(sharedResource["Cleared"])
                                            .CancelButtonText(sharedResource["Cancel"])
                                            .SearchPlaceholder(sharedResource["Searching"])
                                            );


                                            items.AddButton()
                                            .HorizontalAlignment(HorizontalAlignment.Left)
                                            .ButtonOptions(b => b.Text(sharedResource["Filter Result"])
                                            .Type(ButtonType.Default)
                                            .UseSubmitBehavior(true)
                                            );
                                        })
                                        )








                            </div><!-- post-group -->
                        </div><!-- card -->
                    </div>
                    <div class="col-lg-9">

                        <div class="card pd-30">
                            <div class="timeline-group">

                                <link href="~/css/viewer.part.bundle.css" rel="stylesheet" />
                                <script src="~/js/viewer.part.bundle.js"></script>

                                @Html.DevExpress().WebDocumentViewer("DocumentViewer").RightToLeft(true).Height("1000px").Bind(Model.Report)
                            </div><!-- timeline-group -->
                        </div><!-- card -->

                    </div><!-- col-9 -->
                    <!-- col-3 -->
                </div><!-- row -->



            </div><!-- container -->
        </div>
    </div>
</div>
