@{
}


@model ManoTourism.Models.ContactSocial

<div class="modal fade" id="QuickViewPoup" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Social Contacts Details"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="position-relative d-inline-block">

                                <div class="avatar-lg p-1">
                                    <div class="avatar-title bg-light rounded-circle">
                                        <img src="~/assets/images/users/multi-user.jpg" id="DContactUsImageId" class="avatar-md rounded-circle object-cover" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="table-card">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td class="fw-medium">@sharedResource["First Phone Number"]</td>
                                    <td id="DFirstPhoneNumberId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Second Phone Number"]</td>
                                    <td id="DSecondPhoneNumberId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["First Email"]</td>
                                    <td id="DFirstEmailId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Second Email"]</td>
                                    <td id="DSecondEmailId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Location Arabic Title"]</td>
                                    <td id="DLocationTitleArId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Location English Title"]</td>
                                    <td id="DLocationTitleEnId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Facebook"]</td>
                                    <td id="DFacebookId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Instagram"]</td>
                                    <td id="DInstagramId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["WhatsApp"]</td>
                                    <td id="DWhatsAppId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Telegram"]</td>
                                    <td id="DTelegramId"></td>
                                </tr>
                                
                                <tr>
                                    <td class="fw-medium">@sharedResource["Twiter"]</td>
                                    <td id="DTwiterId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Youtube"]</td>
                                    <td id="DYoutubeId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Openting Time Arabic Title"]</td>
                                    <td id="DOpentingTimeArId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Openting Time English Title"]</td>
                                    <td id="DOpentingTimeEnId"></td>
                                </tr>





                            </tbody>
                        </table><!--end table-->
                    </div>
                </div>
            </div><!--end card-->
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light"
                            data-bs-dismiss="modal">
                        @sharedResource["Close"]
                    </button>


                </div>
            </div>
        </div>
    </div>
</div>
