@{
}
@model ManoTourism.Models.VisaCountryDocument

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Edit Visa Required Document"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>
            <form asp-area="Admin" asp-page="/ManageVisaRequiredDocument/Index" asp-page-handler="EditVisaCountryDocument" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" id="HiddenVisaCountryDocumentId" asp-for="@Model.VisaCountryDocumentId" value="@Model.VisaCountryDocumentId" />
                    <div class="row g-3">
                        <input type="text" asp-for="@Model.VisaId" hidden value="@Model.VisaId" />
                        <div class="col-lg-12">
                          
                            <div>
                                <label asp-for="@Model.DocumentTLAR" class="form-label">@sharedResource["Document Title Arabic"]</label>

                                <textarea id="DocumentTLARId" asp-for="@Model.DocumentTLAR" class="form-control" placeholder="@sharedResource["Enter Document Title Arabic"]" required></textarea>

                                <span asp-validation-for="@Model.DocumentTLAR" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label asp-for="@Model.DocumentTLEn" class="form-label">@sharedResource["Document Title English"]</label>

                                <textarea id="DocumentTLEnId" asp-for="@Model.DocumentTLEn" class="form-control" placeholder="@sharedResource["Enter Document Title English"]" required></textarea>

                                <span asp-validation-for="@Model.DocumentTLEn" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <!--end row-->
                </div>

                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">@sharedResource["Close"]</button>
                        <button class="btn btn-success" id="add-btn">@sharedResource["Edit"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>