@{
}


@model ManoTourism.Models.Testimonial

<div class="modal fade" id="QuickViewPoup" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["User Review Details"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>
           
            <div class="card mb-3">
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="position-relative d-inline-block">

                                <div class="avatar-lg p-1">
                                    <div class="avatar-title bg-light rounded-circle">
                                        <img src="~/assets/images/users/multi-user.jpg" id="DPicId" class="avatar-md rounded-circle object-cover" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />
       
                   
                    <div class="row table-card">
                        <table class="table mb-0">
                            <tbody>
                          
                                <tr>
                                <td class="fw-medium">@sharedResource["Review writer Name In Arabic"]</td>
                                    <td id="DNameArId"></td>
                                </tr>
                                <tr>
                                <td class="fw-medium">@sharedResource["Review writer Name In English"]</td>
                                    <td id="DNameEnId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Review Arabic Title"]</td>
                                    <td id="DTitleArId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Review English Title"]</td>
                                    <td id="DTitleEnId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Review In Arabic"]</td>
                                    <td id="DDescriptionArId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Review In Arabic"]</td>
                                    <td id="DDescriptionEnId"></td>
                                </tr>
                                       <tr>
                                <td class="fw-medium">@sharedResource["Rating"]</td>
                                    <td id="DRating"></td>
                                </tr>
                                
                                <tr>
                                    <td class="fw-medium">@sharedResource["IsActive ?"]</td>
                                    <td id="DIsActiveId"></td>
                                </tr>
                               




                            </tbody>
                        </table><!--end table-->
                    </div>
                </div>
            </div><!--end card-->
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light"
                            data-bs-dismiss="modal">
                        @sharedResource["Close"]
                    </button>


                </div>
            </div>
        </div>
    </div>
</div>
