@page
@model ManoTourism.Areas.Admin.Pages.ManageTestimonial.EditTestimonialModel
@{
    ViewBag.Title = @sharedResource["Edit User Review"];
    ViewBag.pTitle = @sharedResource["Edit User Review"];
    ViewBag.pageTitle = @sharedResource["Reviews"];
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@sharedResource["Edit User Review"]</h4>

            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div class="row gy-4">

                        <!--end col-->
                        <input type="text" asp-for="@Model.url" value="@Model.url" hidden id="UrlId" />

                        <form method="post" enctype="multipart/form-data" onsubmit="return validateMyForm();">
                            <div class="modal-body">
                                 <input asp-for="EditTestimonial.TestimonialId" id="HiddenId" hidden>
                                <input asp-for="EditTestimonial.ReviewImage" value="EditTestimonial.ReviewImage" id="PicHiddenId" hidden>
                                <div class="row g-3">
                                    <div class="col-lg-12">
                                        <div class="text-center col-lg-12">
                                            <div class="position-relative d-inline-block">
                                                <div class="position-absolute bottom-0 end-0">
                                                    <label for="file" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title=@sharedResource["Select User Image"]>
                                                        <div class="avatar-xs cursor-pointer">
                                                            <div class="avatar-title bg-light border rounded-circle text-muted">
                                                                <i class="ri-image-fill"></i>
                                                            </div>
                                                        </div>
                                                    </label>
                                                    <input class="form-control d-none hidefromHere" name="file" id="file" type="file"
                                                           accept="image/*" required>
                                                </div>
                                                <div class="avatar-lg p-1">
                                                    <div class="avatar-title bg-light rounded-circle">
                                                        <img src="~/assets/images/users/user-dummy-img.jpg" id="lead-img" class="avatar-md rounded-circle object-cover itemImgCla" />
                                                    </div>
                                                </div>
                                            </div>
                                            <h5 class="fs-13 mt-3">@sharedResource["Image"] </h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>
                                            <label asp-for="EditTestimonial.TitleAr" class="form-label">@sharedResource["Review Arabic Title"]</label>

                                            <input type="text" asp-for="EditTestimonial.TitleAr" class="form-control" placeholder="@sharedResource["Enter Review Arabic Title"]" required />

                                            <span asp-validation-for="EditTestimonial.TitleAr" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>
                                            <label for="EditTestimonial.TitleEn" class="form-label">@sharedResource["Review English Title"]</label>
                                            <input type="text" asp-for="EditTestimonial.TitleEn" class="form-control" placeholder="@sharedResource["Enter Review English Title"]" required />
                                            <span asp-validation-for="EditTestimonial.TitleEn" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>
                                            <label asp-for="EditTestimonial.NameAr" class="form-label">@sharedResource["Review writer Name In Arabic"]</label>

                                            <input type="text" asp-for="EditTestimonial.NameAr" class="form-control" placeholder="@sharedResource["Enter Review writer Name In Arabic"]" required />

                                            <span asp-validation-for="EditTestimonial.NameAr" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>
                                            <label for="EditTestimonial.NameEn" class="form-label">@sharedResource["Review writer Name In English"]</label>
                                            <input type="text" asp-for="EditTestimonial.NameEn" class="form-control" placeholder="@sharedResource["Enter Review writer Name In English"]" required />
                                            <span asp-validation-for="EditTestimonial.NameEn" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>
                                            <label for="EditTestimonial.DescriptionAr" class="form-label">@sharedResource["Review In Arabic"]</label>
                                            <textarea id="textareacontent" asp-for="EditTestimonial.DescriptionAr" class="form-control textAreaCl" placeholder="@sharedResource["Enter Review In Arabic"]"></textarea>
                                            <span asp-validation-for="EditTestimonial.DescriptionAr" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-lg-6">
                                        <div>
                                            <label for="EditTestimonial.DescriptionEn" class="form-label">@sharedResource["Review In English"]</label>
                                            <textarea id="textareacontent" asp-for="EditTestimonial.DescriptionEn" class="form-control textAreaCl" placeholder="@sharedResource["Enter Review In English"]"></textarea>
                                            <span asp-validation-for="EditTestimonial.DescriptionEn" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>
                                            <label for="EditTestimonial.Rating" class="form-label">@sharedResource["Rating"]</label>
                                            <input type="number" min="1" max="5" asp-for="EditTestimonial.Rating" id="company_name-field" class="form-control" placeholder="@sharedResource["Enter Rating"]" required />
                                            <span asp-validation-for="EditTestimonial.Rating" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-6" style="padding-top: 2rem;">
                                        <div class="form-check">
                                            <input asp-for="EditTestimonial.IsActive" class="form-check-input" type="checkbox" id="checkboxId">
                                            <label for="EditTestimonial.IsActive" class="form-check-label">@sharedResource["Is Active?"]</label>
                                            <span asp-validation-for="EditTestimonial.IsActive" class="text-danger"></span>
                                        </div>
                                    </div>


                                   











                                </div>

                            </div>

                            <div class="modal-footer pt-2">
                                <div class="hstack gap-2 justify-content-end">
                                    <button class="btn btn-success" id="add-btn">@sharedResource["Edit User Review"]</button>
                                </div>
                            </div>
                        </form>


                    </div>
                    <!--end row-->
                </div>

            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->
<!--datatable js-->
@*<partial name="_AddPopup" model="@Model.addSubProduct" view-data="ViewData" />*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section scripts{
    <!-- list.js min js -->
    <script src="~/assets/libs/list.js/list.min.js"></script>
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
    <!-- crm leads init -->
    <script src="~/assets/js/pages/crm-leads.init.js"></script>
    <script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '.textAreaCl',
            statusbar: false,
            promotion: false,
            branding: false,

        });

        window.addEventListener('load', (event) => {
            console.log('page is fully loaded');

            var ProdPic = document.getElementById("PicHiddenId").value;
            document.getElementsByClassName('itemImgCla')[0].src = "/" + ProdPic
        });

    </script>

}

