@page
@model ManoTourism.Areas.Admin.Pages.ManageTrip.IndexModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = @sharedResource["Manage Tours In UAE"];
    ViewBag.pTitle = @sharedResource["Manage Tours In UAE"];
    ViewBag.pageTitle = @sharedResource["All Tours In UAE"];
    Layout = "_Layout";
}
<!--datatable css-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
<!--datatable responsive css-->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

<style>
    .dataTables_filter {
        display: none;
    }
</style>


<div class="row">
    <div class="col-lg-12">
        <div class="card" id="List">
            <div class="card-header border-0">
                <input type="text" asp-for="@Model.url" value="@Model.url" hidden id="UrlId" />

                <div class="row g-4 align-items-center">
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input type="text" class="form-control search" id="txtSearch"
                                   placeholder="@sharedResource["Search for..."]">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <div class="col-sm-auto ms-auto">
                        <div class="hstack gap-2">

                            <a class="btn btn-success add-btn" asp-area="Admin" asp-page="/ManageTrip/AddTour">
                                <i class="ri-add-line align-bottom me-1"></i> @sharedResource["Add Tour"]
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card">
                        <table id="myTable" class="table  dt-responsive nowrap  align-middle" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                   
                                    <th data-ordering="false">@sharedResource["Main Image"]</th>
                                    <th data-ordering="false">@sharedResource["Tour Title"]</th>
                                    <th data-ordering="false">@sharedResource["Tour Type"]</th>
                                    <th data-ordering="false">@sharedResource["Country"]</th>
                                    <th data-ordering="false">@sharedResource["Old Price Per Person"]</th>
                                    <th data-ordering="false">@sharedResource["New Price Per Person"]</th>
                                    <th data-ordering="false">@sharedResource["Duration In Days"]</th>
                                    <th data-ordering="false">@sharedResource["Is Active?"]</th>
                                    <th data-ordering="false">@sharedResource["Actions"]</th>
                                </tr>
                            </thead>

                            
                        </table>
                    </div>

                </div>

            </div>

            <!--end modal-->
        </div>
    </div>
    <!--end col-->
</div>

@*<partial name="_ViewPopup" model="@Model.visa" view-data="ViewData" />*@

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
@section scripts{
    <!-- list.js min js -->
    <script src="~/assets/libs/list.js/list.min.js"></script>
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
    <!-- crm leads init -->
    <script src="~/assets/js/pages/crm-leads.init.js"></script>
    <script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            statusbar: false,
            promotion: false,
            branding: false,

        });

    </script>

}

<script>




    $(document).ready(function () {
        $("#myTable").DataTable({
            "proccessing": true,
            "serverSide": true,
            "ajax": {

                url: "/Admin/ManageTrip/Index",
                type: 'POST',
                headers: { 'XSRF-TOKEN': $('@Html.AntiForgeryToken()').val() }
            },
            "columnDefs": [
                {
                    "targets": -1,
                    "data": null,
                    "render": function (data, type, row, meta) {
                        let linkHtml = ` <ul class="list-inline hstack gap-2 mb-0">

                         
                                    
                                    <li class="list-inline-item" data-bs-toggle="tooltip"
                                    data-bs-trigger="hover" data-bs-placement="top"
                                    title=@sharedResource["Edit"]>
                                                                <a class="edit-item-btn" href="/Admin/ManageTrip/EditTour?TripId=${row.TripId}">

                                    <i class="ri-pencil-fill align-bottom text-muted"></i>
                                    </a>
                                        </li> <li class="list-inline-item" >

                                                                                <a class="btn btn-success btn-sm" href="/Admin/ManageTripRequest/index?TourId=${row.TripId}">@sharedResource["Trip Requests"] </a></li>
                                                                                    <li class="list-inline-item" >

                                                                                                <a class="btn btn-primary btn-sm" href="/Admin/ManageTripProgram/index?TripId=${row.TripId}">@sharedResource["Trip Program"] </a></li>

                                                                                
                                                                                </ul>`
                          

                        return linkHtml;
                    },
                    "sortable": false
                },

       

                {
                    "name": "Pic", "data": "Pic", "targets": 0, "visible": true,
                    "render": function (data, type, row, meta)
                    {

                        return `<img src='/${data}' alt='' class='avatar-xxs rounded-circle image_src object-cover'>`;

                    }
                },
              
                {
                    "name": "TripTitleEn", "data": "TripTitleEn", "targets": 1,
                    "render": function (data, type, row, meta) {
                        if (row.BrowserCulture == "en-US") {

                            return `<span >${row.TripTitleEn}</span>`;
                        } else {
                            return `<span >${row.TripTitleAr}</span>`;
                        }
                    }
                },


                {
                    "name": "TripTypeTitleEn", "data": "TripTypeTitleEn", "targets": 2,
                    "render": function (data, type, row, meta) {
                        if (row.BrowserCulture == "en-US") {

                            return `<span >${row.TripTypeTitleEn}</span>`;
                        } else {
                            return `<span >${row.TripTypeTitleAr}</span>`;
                        }
                    }

                },
                {
                    "name": "CountryTLEN", "data": "CountryTLEN", "targets": 3,
                    "render": function (data, type, row, meta) {
                        if (row.BrowserCulture == "en-US") {

                            return `<span >${row.CountryTLEN}</span>`;
                        } else {
                            return `<span >${row.CountryTLAR}</span>`;
                        }
                    }
                },
          
                { "name": "OldPricePerPerson", "data": "OldPricePerPerson", "targets": 4 },
                { "name": "NewPricePerPerson", "data": "NewPricePerPerson", "targets": 5 },
                { "name": "DurationInDays", "data": "DurationInDays", "targets": 6 },
                {
                    "name": "IsActive", "data": "IsActive", "targets": 7,

                    "render": function (data, type, row, meta)
                    {
                        if (row.IsActive) {
                            
                            return `<span>@sharedResource["Active"]</span>`;
                        }
                        else
                        {
                            
                            return `<span>@sharedResource["Not Active"]</span>`;
                        }
                    }

                },
               




            ],
            "order": [[3, "desc"]],
            "language": {
                "lengthMenu": "Show _MENU_",
            },
            "dom":
                "<'row'" +
                "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                ">" +

                "<'table-responsive'tr>" +

                "<'row'" +
                "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                ">",
            "createdRow": function (row, data, dataIndex) {
                var tdElements = $(row).find('td');
                $(tdElements[tdElements.length - 1]).addClass('text-end');
            }
        });
    });
    $('#txtSearch').keyup(function () {
        var table = $('#myTable').DataTable();
        table.search($(this).val()).draw();
    });


    //function ShowViewPopUp(VisaId) {

    //    $.ajax({
    //        type: "GET",
    //        url: "/Admin/ManageVisa/Index?handler=SingleVisaForView",
    //        data: { "VisaId": VisaId },
    //        contentType: "application/json",
    //        dataType: "json",
    //        success: function (response) {
               
    //            console.log(response);
    //            document.getElementById("DPicId").src = "/" + response.Pic
    //            document.getElementById("DVisaTitleArId").innerHTML = response.VisaTitleAr
    //            document.getElementById("DVisaTitleEnId").innerHTML = response.VisaTitleEn
    //            document.getElementById("DVisaTypeTitleArId").innerHTML = response.VisaTypeTitleAr
    //            document.getElementById("DVisaTypeTitleEnId").innerHTML = response.VisaTypeTitleEn
    //            document.getElementById("DCountryTLARId").innerHTML = response.CountryTLAR
    //            document.getElementById("DCountryTLENId").innerHTML = response.CountryTLEN
    //            document.getElementById("DOldPricePerPersonId").innerHTML = response.OldPricePerPerson
    //            document.getElementById("DNewPricePerPersonId").innerHTML = response.NewPricePerPerson
    //            document.getElementById("DAddedDateId").innerHTML = response.AddedDate
    //            document.getElementById("DDescriptionArId").innerHTML = response.DescriptionAr
    //            document.getElementById("DDescriptionEnId").innerHTML = response.DescriptionEn
    //            document.getElementById("DIsActiveId").innerHTML = response.IsActive
               




    //            $('#QuickViewPoup').modal('show');

    //        },
    //        failure: function (response) {
    //            alert(response);
    //        }
    //    });

    //}






</script>      