@{
}
@model ManoTourism.Models.RejectReason

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Edit Reject Reason"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

            <form asp-area="Admin" asp-page="/ManageRejectReason/Index" asp-page-handler="EditRejectReason" enctype="multipart/form-data">
                <div class="modal-body">

                    <input type="hidden" asp-for="@Model.RejectReasonId" id="HiddenRejectReasonId" />

                    <div class="row g-3">
                        <div class="col-lg-12">
                            <div>
                                <label asp-for="@Model.RejectReasonTitleAr" class="form-label">@sharedResource["Reason Arabic Title"]</label>

                                <input type="text" id="RejectReasonTitleArId" asp-for="@Model.RejectReasonTitleAr" class="form-control" placeholder="@sharedResource["Enter Reason Arabic Title"]" required />

                                <span asp-validation-for="@Model.RejectReasonTitleAr" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.RejectReasonTitleEn" class="form-label">@sharedResource["Reason English Title"]</label>
                                <input type="text" id="RejectReasonTitleEnId" asp-for="@Model.RejectReasonTitleEn" class="form-control" placeholder="@sharedResource["Enter Reason English Title"]" required />
                                <span asp-validation-for="@Model.RejectReasonTitleEn" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="form-check">
                                <input asp-for="@Model.IsActive" id="IsActiveId" class="form-check-input" type="checkbox" >
                                <label for="@Model.IsActive" class="form-check-label">@sharedResource["Is Active?"]</label>
                                <span asp-validation-for="@Model.IsActive" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            @sharedResource["Close"]
                        </button>
                        <button type="submit" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Edit Reject Reason"]
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>