@page
@model ManoTourism.Areas.Admin.Pages.ManageSellesRequest.AddRequestModel
@Html.AntiForgeryToken()
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = @sharedResource["Add Request"];
    ViewBag.pTitle = @sharedResource["Add Request"];
    ViewBag.pageTitle = @sharedResource["Add Request"];


}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">@sharedResource["Add Request"]</h4>

            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div class="row gy-4">

                        <!--end col-->
                        <input type="text" asp-for="@Model.url" value="@Model.url" hidden id="UrlId" />
                        <input hidden type="text" value="@Model.BrowserCulture" id="checkLang" />
                        <form method="post" enctype="multipart/form-data" name="myForm" onsubmit="return validateMyForm();">
                            <div class="modal-body">
                                <input type="hidden" id="id-field" />
                                <div class="row g-3">

                                    <div class="col-lg-6">
                                        <div>
                                            <label asp-for="AddNewRequest.FullName" class="form-label">@sharedResource["Full Name"]</label>

                                            <input type="text" asp-for="AddNewRequest.FullName" class="form-control" placeholder="@sharedResource["Full Name"]" required />

                                            <span asp-validation-for="AddNewRequest.FullName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>
                                            <label for="AddNewRequest.Email" class="form-label">@sharedResource["Email"]</label>
                                            <input type="email" asp-for="AddNewRequest.Email" class="form-control" placeholder="@sharedResource["Enter Your Email"]" required />
                                            <span asp-validation-for="AddNewRequest.Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div>
                                            <label for="AddNewRequest.PhoneNumber" class="form-label">@sharedResource["Phone Number"]</label>
                                            <input type="text" asp-for="AddNewRequest.PhoneNumber" id="company_name-field" class="form-control" placeholder="@sharedResource["Enter your phone number"]" required />
                                            <span asp-validation-for="AddNewRequest.PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label asp-for="AddNewRequest.CountryId" for="car-rental-name">@sharedResource["Current Country"] <small class="text-danger">*</small></label>

                                        <select data-val="true" data-val-required="@sharedResource["Please choose Current Country"]" id="countryId" asp-for="AddNewRequest.CountryId" class="form-select required" aria-label="Default select example" required>


                                            @{
                                                if (Model.countries != null)
                                                {
                                                    foreach (var item in Model.countries)

                                                    {
                                                        if (Model.BrowserCulture == "en-US")

                                                        {

                                                            <option value="@item.CountryId">@item.CountryTLEN</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.CountryId">@item.CountryTLAR</option>

                                                        }
                                                    }
                                                }
                                            }

                                        </select>

                                        <span asp-validation-for="AddNewRequest.CountryId" class="text-alert"></span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label asp-for="AddNewRequest.NationalityId" for="car-rental-name">@sharedResource["Nationality"] <small class="text-danger">*</small></label>

                                        <select data-val="true" data-val-required="@sharedResource["Nationality"]" id="NationalityId" asp-for="AddNewRequest.NationalityId" class="form-select required" aria-label="Default select example" required>


                                            @{
                                                if (Model.nationalities != null)
                                                {
                                                    foreach (var item in Model.nationalities)

                                                    {
                                                        if (Model.BrowserCulture == "en-US")

                                                        {

                                                            <option value="@item.NationalityId">@item.NationalityTLEN</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.NationalityId">@item.NationalityTLAR</option>

                                                        }
                                                    }
                                                }
                                            }

                                        </select>

                                        <span asp-validation-for="AddNewRequest.NationalityId" class="text-alert"></span>
                                    </div>

                                    <div class="col-lg-6">
                                        <label asp-for="AddNewRequest.CompanyMarktingId" for="car-rental-name">@sharedResource["How do you know Mano Tourism?"] <small class="text-danger">*</small></label>

                                        <select data-val="true" data-val-required="@sharedResource["How do you know Mano Tourism?"]" id="CompanyMarktingId" asp-for="AddNewRequest.CompanyMarktingId" class="form-select required" aria-label="Default select example" required>

                                            @{
                                                if (Model.CompanyMarktings != null)
                                                {
                                                    foreach (var item in Model.CompanyMarktings)

                                                    {
                                                        if (Model.BrowserCulture == "en-US")

                                                        {

                                                            <option value="@item.CompanyMarktingId">@item.TitleEn</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.CompanyMarktingId">@item.TitleAr</option>

                                                        }
                                                    }
                                                }
                                            }

                                        </select>

                                        <span asp-validation-for="AddNewRequest.CompanyMarktingId" class="text-alert"></span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label asp-for="AddNewRequest.ManoEntityTypeId" for="car-rental-name">@sharedResource["Request Service Type"] <small class="text-danger">*</small></label>

                                        <select data-val="true" onchange="ChooseStepTwo()" data-val-required="@sharedResource["Request Service Type"]" id="ManoEntityTypeId" asp-for="AddNewRequest.ManoEntityTypeId" class="form-select required" aria-label="Default select example" required>

                                            @{
                                                if (Model.ManoEntities != null)
                                                {
                                                    foreach (var item in Model.ManoEntities)

                                                    {
                                                        if (Model.BrowserCulture == "en-US")

                                                        {

                                                            <option value="@item.ManoEntityTypeId">@item.EntityTitleEn</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.ManoEntityTypeId">@item.EntityTitleAr</option>

                                                        }
                                                    }
                                                }
                                            }

                                        </select>

                                        <span asp-validation-for="AddNewRequest.ManoEntityTypeId" class="text-alert"></span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label asp-for="AddNewRequest.EntityId" for="car-rental-name">@sharedResource["Request Service"] <small class="text-danger">*</small></label>

                                        <select data-val="true" data-val-required="@sharedResource["Request Service"]" id="EntityId" asp-for="AddNewRequest.EntityId" class="form-select required" aria-label="Default select example" required>
                                        </select>

                                        <span asp-validation-for="AddNewRequest.EntityId" class="text-alert"></span>
                                    </div>

                                    <div class="col-lg-12" style="display:none" id="ActivityTypeId">
                                        <div>
                                            <label asp-for="AddNewRequest.ActivityType" class="form-label">@sharedResource["Activity Type"]</label>

                                            <input type="text" asp-for="AddNewRequest.ActivityType" class="form-control" placeholder="@sharedResource["Enter Activity Type"]" />

                                            <span asp-validation-for="AddNewRequest.ActivityType" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="display:none" id="TransactionTypeId">
                                        <div>
                                            <label asp-for="AddNewRequest.TransactionType" class="form-label">@sharedResource["Transaction Type"]</label>

                                            <input type="text" asp-for="AddNewRequest.TransactionType" class="form-control" placeholder="@sharedResource["Enter Transaction Type"]" />

                                            <span asp-validation-for="AddNewRequest.TransactionType" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="display:none" id="HotelArrivedDateId">
                                        <div>
                                            <label asp-for="AddNewRequest.HotelArrivedDate" class="form-label">@sharedResource["Arrival Date"]</label>

                                            <input type="date" asp-for="AddNewRequest.HotelArrivedDate" class="form-control" />

                                            <span asp-validation-for="AddNewRequest.HotelArrivedDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="display:none" id="HotelDepartureDateId">
                                        <div>
                                            <label asp-for="AddNewRequest.HotelDepartureDate" class="form-label">@sharedResource["Departure Date"]</label>

                                            <input type="date" asp-for="AddNewRequest.HotelDepartureDate" class="form-control" />

                                            <span asp-validation-for="AddNewRequest.HotelDepartureDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row " style="display:none;padding:1rem;" id="TicketShowId">
                                        <div class="col-lg-3 form-check  mb-25 form-check-inline">
                                            <input class="form-check-input" type="radio" name="OneWayCheck" id="checkIn" value="1" checked>
                                            <label class="form-check-label" for="checkIn">
                                                <span>@sharedResource["One Way"]</span>
                                            </label>
                                        </div>
                                        <div class="col-lg-3 form-check  mb-25 form-check-inline">
                                            <input class="form-check-input" type="radio" name="OneWayCheck" id="checkOut" value="2">
                                            <label class="form-check-label" for="checkOut">
                                                <span>@sharedResource["Return"]</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="display:none" id="OneWayDateId">
                                        <div>
                                            <label asp-for="AddNewRequest.OneWayDate" class="form-label">@sharedResource["Arrival Date"]</label>

                                            <input type="date" asp-for="AddNewRequest.OneWayDate" class="form-control" />

                                            <span asp-validation-for="AddNewRequest.OneWayDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" style="display:none" id="BeturnedDateId">
                                        <div>
                                            <label asp-for="AddNewRequest.BeturnedDate" class="form-label">@sharedResource["Departure Date"]</label>

                                            <input type="date" asp-for="AddNewRequest.BeturnedDate" class="form-control" />

                                            <span asp-validation-for="AddNewRequest.BeturnedDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div>
                                            <label for="AddNewRequest.Message" class="form-label">@sharedResource["Write Your Massage"]</label>
                                            <textarea rows="4" asp-for="AddNewRequest.Message" class="form-control" placeholder="@sharedResource["Write Your Massage"]"></textarea>
                                            <span asp-validation-for="AddNewRequest.Message" class="text-danger"></span>
                                        </div>
                                    </div>



                                </div>

                            </div>

                            <div class="modal-footer pt-2">
                                <div class="hstack gap-2 justify-content-end">
                                    <button class="btn btn-success" id="add-btn">@sharedResource["Add Request"]</button>
                                </div>
                            </div>
                        </form>


                    </div>
                    <!--end row-->
                </div>

            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end row-->
<!--datatable js-->
@*<partial name="_AddPopup" model="@Model.addSubProduct" view-data="ViewData" />*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section scripts{
    <!-- list.js min js -->
    <script src="~/assets/libs/list.js/list.min.js"></script>
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>
    <!-- crm leads init -->
    <script src="~/assets/js/pages/crm-leads.init.js"></script>
    <script>
        var rad = document.myForm.OneWayCheck;
        var prev = null;
        window.onload = async function () {
            await ChooseStepTwo();

        }

        async function ChooseStepTwo() {
            //var count=0;
            try {

                var radiobtn = document.getElementById("checkIn");
                var checkLang = document.getElementById("checkLang").value;
                var ManoEntityTypeId = document.getElementById("ManoEntityTypeId").value;
                 if (ManoEntityTypeId == 1||ManoEntityTypeId == 2||ManoEntityTypeId == 3)
                 {
                    radiobtn.checked = true;
                 }
                if (ManoEntityTypeId == 4) {
                    document.getElementById("ActivityTypeId").style.display = "block";
                    radiobtn.checked = true;
                } else {
                    document.getElementById("ActivityTypeId").style.display = "none";
                   
                }
                if (ManoEntityTypeId == 5) {
                   
                    document.getElementById("HotelDepartureDateId").style.display = "block";
                    document.getElementById("HotelArrivedDateId").style.display = "block";
                    radiobtn.checked = true;
                } else {
                    document.getElementById("HotelDepartureDateId").style.display = "none";
                    document.getElementById("HotelArrivedDateId").style.display = "none";
                   
                }
                if (ManoEntityTypeId == 6) {
                    document.getElementById("TicketShowId").style.display = "block";
                    document.getElementById("OneWayDateId").style.display = "block";
                } else {
                    document.getElementById("TicketShowId").style.display = "none";
                    document.getElementById("OneWayDateId").style.display = "none";
                    document.getElementById("BeturnedDateId").style.display = "none";
                }
                if (ManoEntityTypeId == 7) {
                    document.getElementById("TransactionTypeId").style.display = "block";
                    radiobtn.checked = true;
                } else {
                    document.getElementById("TransactionTypeId").style.display = "none";

                }
                
                console.log(ManoEntityTypeId);
                var selectElement = document.getElementById("EntityId");

                var optionsToRemove = Array.from(selectElement.options).slice();

                // Remove all options except the first one
                optionsToRemove.forEach(function (option) {
                    selectElement.removeChild(option);
                });

                console.log("Before Ajax")
                var response = await $.ajax({
                    type: "GET",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    url: "/Admin/ManageSellesRequest/AddRequest?handler=SingleAllEntities",
                    data: { "ManoEntityTypeId": ManoEntityTypeId },
                    contentType: "application/json",
                    dataType: "json"
                });
                console.log(response);
                response.forEach(function (option) {

                    var optionElement = document.createElement('option');
                    optionElement.value = option.EntityId;
                    if (checkLang == "en-US") {

                        optionElement.textContent = option.EntityNameEn;
                    }
                    else {
                        optionElement.textContent = option.EntityNameAr;
                    }




                    selectElement.appendChild(optionElement);
                });
            } catch (error) {
                console.error(error);
            }
        }

        
        for (var i = 0; i < rad.length; i++) {
            rad[i].addEventListener('change', function () {

                if (this !== prev) {
                    prev = this;
                }
                if (this.value == 1) {
                    document.getElementById("BeturnedDateId").style.display = "none";

                }
                if (this.value == 2) {
                    document.getElementById("BeturnedDateId").style.display = "block";

                }

            });
        }
    </script>
}

